.container {
  width: 100vw;
  height: 100vh;
}

.grey-border {
  border: grey 1px solid;
}

.connection-settings {
  width: 100%;
  height: 30vh;
}

.editor-results-split-view {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
}

.editor-view {
  width: 50%;
  height: 100%;
}

.results-view {
  width: 50%;
  height: 100%;
}
